@charset "UTF-8";

// PROMOS : TWO : Two promos displayed side by side with animation on mobile sizes
#double-promo-wrapper {
  @include inline-flex;
  @include flex-flow( row wrap );
  /* Horizontally */
  @include justify-content( space-evenly );
  /* Vertically */
  @include align-items( center );
  width: 100%;
  height: 100%;
  /* font-size: calc( {{ settings.announcement_text_size }}px - 3px ); */
  /* line-height: calc( {{ settings.announcement_text_size }}px + 4px ); */ /* Aligns the lines cleaner */
  @include fontSize( 20px );
  line-height: 20px;  /* Aligns the lines cleaner */

  /* TABLET : Adjust tablet portrait font to fit prettier in space */
  @include mq( 'tablet-and-up' ) {
    /* font-size: calc( {{ settings.announcement_text_size }}px - 4px ); */
    /* line-height: calc( {{ settings.announcement_text_size }}px - 4px ); */
    @include fontSize( 24px );
    line-height: 24px;
  }

  /* DESKTOP : Adjust tablet portrait font to fit prettier in space */
  @include mq( 'lap-and-up' ) {
    @include fontSize( 32px );
    line-height: 32px; /* Aligns the lines cleaner */
  }

  .promo-banner {
    opacity: 0;
    @include flexbox;
    @include align-items( center );
    width: 100%;
    height: 100%;
    position: absolute;
    background: $color--white;
    transition: 0.5s all ease-in-out;
    padding: 0 16px;
    text-align: center;

    @include mq( 'lap-and-up' ) {
      padding: 0;
      background: $color--reverse-1;
    }

    @include mq( 'ie-high-contrast' ){
      position: absolute;
      top: 0;
    }

    &.one { opacity: 1; }
    &.two, &.three { pointer-events: none; }

    div { display: inline-block; } /* So any "bold" sections sit inline with the rest of unbolded text */

    .details-link {
      font-weight: $font-weight--book;
      text-decoration: underline;
    }
  }

  #promo-arrow-left,
  #promo-arrow-right {
    position: absolute;
    display: none;
    /* @include flexbox; */
    @include align-items( center );
    cursor: pointer;
    height: 100%;
    width: 23px;
    top: 50%;
    transform: translateY( -50% );

    svg {
      width: 10px;
      height: 10px;
    }
  }
  #promo-arrow-left {
    left: 0;
    @include justify-content( flex-end );
  }
  #promo-arrow-right {
    right: 0;
    @include justify-content( flex-start );
  }


  /* ALTERNATIVE : Animation class for mobile banner swaps, if they want to hide arrows and it just auto-rotates */
  &.auto-swap {
    .one { animation: 10s promoFade1 0s linear infinite; }
    .two { animation: 10s promoFade2 5s linear infinite; }
    .three { animation: 10s promoFade3 5s linear infinite; }
  }

  /* Static Classes so user can manually swap the banners using arrows. (Arrow click removes auto-swap class) */
  &.show-promo-two .promo-banner {
    &.one { opacity: 0; pointer-events: none; }
    &.two { opacity: 1; pointer-events: auto;}
    &.three { opacity: 0; pointer-events: none;}
  }

}
