/* Home spun SASS will live here */
@charset "UTF-8";

/*=========== VARIABLES + CORE =============*/
@import "./variables.scss";
// @import url('typography.scss');
// @import url('global.scss');
@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

h1, h2 {
  font-weight: $font-weight--black;
}

a {
  text-decoration: none;
}

body {

  background-color: $color--white;
  color: $color--brazilyellow;
  font-family: $font-family-sans-serif;
  @include p;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */

  /* Global styles */
  header, header > .container, section, footer {
    @include flexbox;
    @include justify-content( center );
    @include align-items( center );
    color: $color--stormygray;
  }

  /*  HEADER : Core Styles
  * ---------------------------------------------- */
  header {
    background: $color--stormygray;
    color: $color--white;
    padding-top:30px;
    border-bottom: $color--black 3px solid;
    width: 100%;

    .container {
      @include flex-wrap(wrap);
      overflow: hidden;
      margin: 0 auto;
      width: 90%;

      .branding, nav {
        width: 100%;
      }

      .branding {
        color: $color--white;
        font-weight: $font-weight--black;

        .highlight {

        }
      }

      a {
        color: $color--white;
        text-transform: uppercase;
        transition: color 0.25s ease-in-out;

        &:hover {
          color:#ccc;
          font-weight: $font-weight--bold;
          text-decoration: underline;
        }
      }

      /*  NAV : Styles for the Nav-Bar portion
      * ---------------------------------------------- */
      nav {
        margin: 10px 0;

        ul {
          @include flexbox;
          list-style-type: none;
          margin:0;
          padding:0;

          li {
            @include fontSize( 14px );
            padding: 0 20px;
            // margin-left: -.5em;
            border-right: 1px solid $color--white;

            &:last-child {
              border-right: none;
            }

            &.current {
              color: $color--deeporange;
              font-weight: $font-weight--bold;
            }

            a {
              color: $color--white;
            }
          }
        }
      }
    }
  }


  /* Sections */
  section, footer {
    margin: 0 auto;
  }

  section {
    padding-top: 1em;
    width: 90%;

    /* Showcase */
    &.showcase {
      @include flexbox;
      @include justify-content( center );
      @include align-items( center );
      // min-height:400px;
      // background:url('../images/showcase.jpg') no-repeat 0 -400px;
      text-align: center;

      h1 {
        @include fontSize(36px);
        margin-bottom: 10px;
      }

      p {
        @include fontSize(16px);
      }
    }

    &.linkedin {
      display: none;
      // @include flexbox;
      @include justify-content( center );
      @include align-items( center );
      padding:15px;
      color: $color--white;
      background:#35424a;

      .container {
        @include flexbox;
        @include justify-content( center );
        @include align-items( center );
        width: 100%;

        h1 {
          margin-right: 10px;
        }

        form {

          input[type="email"] {
            padding:4px;
            height:25px;
            width:250px;
          }

          .button_1 {
            height:38px;
            background: $color--deeporange;
            border: 0;
            padding-left:20px;
            padding-right:20px;
            color: $color--white;
          }
        }
      }
    }

    /* Boxes */
    &.boxes {
      @include justify-content( space-between );
      margin-top: 20px;

      .container {
        @include flexbox;
        @include justify-content( center );
        @include align-items( center );
        @include flex-wrap ( wrap );
        @include flex-direction ( column );
        width: 100%;

        @include mq('lap-and-up'){
          @include flex-direction ( row );
          max-width: 1024px;
        }

        .box {
          @include flexbox;
          @include justify-content( center );
          @include align-items( center );
          @include flex-wrap( wrap );
          @include flex-direction( column );
          text-align: center;
          width: 300px;
          // max-width: 33%;
          padding: 10px;

          img {
            width: 90px;
          }

          .devicons {
            display: block;
            width: 150px;
            height: 150px;

            &.icon-html5 {
              background: no-repeat center/100% url('../images/logo_html.png');
            }
            &.icon-css3 {
              background: no-repeat center/100% url('../images/logo_css.png');
            }
            &.icon-js {
              background: no-repeat center/100% url('../images/logo_js.png');
            }
            &.icon-general {
              background: no-repeat center/100% url('../images/logo_brush.png');
            }
          }
        }
      }

    }
  }

  /* Footer */
  footer {
    @include flexbox;
    @include justify-content( flex-start );
    @include align-items( center );
    @include flex-wrap( wrap );
    @include flex-direction ( column );

    padding: 20px;
    margin-top: 20px;
    color: $color--white;
    background-color: $color--stormygray;
    text-align:center;
    width: 100%;
    height: 100%;

    ul, div.footer-text {
      width: 100%;
      @include fontSize( 14px );
    }

    ul.footer-icons {
      @include flexbox;
      @include justify-content( center );
      @include align-items ( space-between );
      @include flex-wrap ( wrap );
      @include flex-direction ( row );
      padding-inline-start: 0;
      list-style-type: none;
    }

    div.footer-text {
      @include flexbox;
      @include justify-content( center );
      @include align-items ( center );
      @include flex-direction ( column );
      @include flex-wrap ( wrap );

      &>span {
        border: 1px solid green;
        // hide second span
      }

      /* Skyline icon */
      div {

        &.washington-icon {
          display: block;
          width: 60px;
          height: 25px;
          max-height: 30px;
          margin: 0 10px;
          background: no-repeat center/100% url("../images/seattle_skyline.png");

          &:hover {
            transition: color 0.5s ease-in-out;
            opacity: 50%;
          }
        }
      }

      @include mq('lap-and-up'){
        @include flex-direction( row );
      }
    }

    a {
      color: $color--offwhite;

      &:hover {
        transition: color 0.25s ease-in-out;
        text-decoration: underline;
      }
    }

    ul {

      &.menu {
        color: #f9f9f9;
        margin-bottom: 10px;
        @include fontSize(13px);
      }
    }

    #menu-social {
      @include flexbox;
      @include justify-content( space-between );
      @include align-items( center );
      @include flex-direction( row );
      @include flex-wrap( wrap );
      list-style-type: none;
      padding-inline-start: 0px;
      max-width: 400px;

      @include mq('lap-and-up'){
        max-width: 450px;
      }

      li {
        position: relative;
        padding-top: 20px;
        display: inline-block;

        a {
          display: block;
          height: 39px;
          width: 32px;
          color: #b7b7b7;
          font: 0/0 a;
          text-shadow: none;
          background-color: transparent;
          border: 0;

          @include mq('lap-and-up'){
            height: 52px;
            width: 44px;
          }

          @include mq('desk-and-up'){
            height: 52px;
            width: 46px;
          }
        }

        a:hover, a:focus {
          color: #309fc4;
          text-decoration: none;
        }

        a::before {
          position: absolute;
          font-family: FontAwesome;
          content: "\f005";
          @include fontSize( 32px );
          // font-size: 2rem;

          @include mq('lap-and-up'){
            @include fontSize( 40px );
            // font-size: 2.5rem;
          }
        }

        &.menu-facebook a::before, &.fa-facebook-square a::before {
          content: "\f082";
        }

        &.menu-twitter a::before, &.fa-twitter-square a::before {
          content: "\f081";
        }

        &.menu-youtube a::before, &.fa-youtube a::before {
          content:"\f167"
        }

        &.menu-instagram a::before, &.fa-instagram a::before {
          content: "\f16d";
        }

        &.menu-codepen a::before, &.fa-codepen a::before {
          content: "\f1cb";
        }

        &.menu-linkedin a::before, &.fa-linkedin a::before {
          content: "\f08c";
        }
      }
    }
  }

  .bootstrap-nav {
    display: none;
  }

  pre {
    padding: 8px 16px;
    background: $bluegrey;
    color: $color--black;
    @include fontSize( 13px );
    line-height: 1.5;
    text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);
    border-radius: 3px;
  }

  & > div.container {
    // display: none;

    .navbar {
      // display: none;
    }
  }
}
