/* Home spun SASS will live here */
@charset "UTF-8";

/*=========== VARIABLES + CORE =============*/
@import "./variables.scss";
// @import url('typography.scss');
// @import url('global.scss');
@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

h1, h2, h3 {
  font-weight: $font-weight--black;
}

a {
  text-decoration: none;
}

/*  SITE : Core Styles
 * ---------------------------------------------- */
$debugRedBorder: 1px solid red;
$debugBlueBorder: 1px solid blue;

body {

  background-color: $color--white;
  font-family: $font-family-sans-serif;
  @include p;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */

  /* Global styles */
  header, header > .container, section, footer {
    @include flexbox;
    @include justify-content( center );
    @include align-items( center );
    color: $color--stormygray;
  }

  /*  HEADER : Core Styles
  * ---------------------------------------------- */

  header {
    display: block;
    background: $color--stormygray;
    color: $color--white;
    border-bottom: $color--black 3px solid;
    width: 100%;
    // height: auto;
    height: 100px;

    @include mq( 'lap-and-up' ) {
      // height: 100px;
    }

    #header-section {
      @include flexbox;
      @include justify-content( center );
      @include align-items( center );
      @include flex-flow( column wrap );
      font-family: $font-stack--heading;
      height: 100%;
      width: 95%;
      margin: 0 auto;

      @include mq( 'lap-and-up' ) {
        // @include justify-content( center );
        width: 80%;
      }

      /* SNIPPET : Header-Announcement-Bar
        *           (Promos bar on top of nav bar)
        * ---------------------------------------------- */
        // @import url('./header.scss');

      .branding-container {
        @include flexbox;
        @include justify-content( flex-start );
        @include align-content( center );
        @include align-items( flex-start );
        @include flex-direction( column );
        margin: 0;
        height: 66%;
        width: 100%;

        @include mq('lap-and-up'){
          @include justify-content( flex-start );
          @include flex-direction( row );
          // @include flex-grow( 100 );
          height: auto;
          margin: 0 0 10px 0;
        }

        .name-container {
          @include flexbox;
          @include justify-content( center );
          @include align-items( flex-start );
          @include flex-direction( row );
          // border: $debugRedBorder;
          color: $color--white;
          margin: 10px 0 0 0;
          width: 100%;

          @include mq('lap-and-up'){
            margin: 0 10px 0 0;
            width: auto;
          }
        }

        .name-container > h1, #double-promo-wrapper .promo-banner > h1 {
          @include fontSize( 24px );
          line-height: 24px;    /* Aligns the lines cleaner */
          margin-bottom: 0;
          width: auto;

          /* TABLET : Adjust tablet portrait font to fit prettier in space */
          @include mq( 'tablet-and-up' ) {
            @include fontSize( 26px );
            line-height: 26px;
            text-align: left;
          }

          /* DESKTOP : Adjust tablet portrait font to fit prettier in space */
          @include mq( 'lap-and-up' ) {
            @include fontSize( 28px );
            line-height: 28px;  /* Aligns the lines cleaner */
          }
        }

        /* PROMOS : TWO : Two promos displayed side by side with animation on mobile sizes */
        #double-promo-wrapper {
        //   border: $debugBlueBorder;
          @include flexbox;
          // @include flex-flow( row wrap );
          @include justify-content( center );
          @include align-items( center );
          @include flex-direction( column  );
          position: relative;
          // height: 100%;
          width: 100%;

          @include mq( 'lap-and-up' ) {
            @include justify-content( flex-start );
            @include flex-grow( 100 );
            padding: 0;
            // position: unset;
            width: auto;
          }

          .promo-banner {
            @include flexbox;
            @include justify-content( center );
            @include align-items( center );
            opacity: 0;
            pointer-events: none;
            height: auto;
            position: absolute;
            top: 0;
            padding: 0;
            // margin: 10px 0 0;
            text-align: center;
            width: 100%;

            @include mq( 'lap-and-up' ) {
              @include justify-content( flex-start );
              // padding: 0 16px;
              margin: 0;
              top: initial;
              // text-align: left;
              // width: auto;
            }

            @include mq( 'ie-high-contrast' ){
              position: absolute;
              top: 0;
            }

            &.active {
              z-index: 50;
              opacity: 1;
              pointer-events: auto;
              transition: 0.7s all ease-in;
            }
          }

          .branding {
            color: $color--white;
            font-weight: $font-weight--black;
          }

          a {
            color: $color--white;
            text-transform: uppercase;
            transition: color 0.25s ease-in-out;

            &:hover {
              color:#ccc;
              font-weight: $font-weight--bold;
              text-decoration: underline;
            }
          }
        }
      }

      .nav-container {
        @include flexbox;
        @include justify-content( center );
        @include align-items( center );
        height: 33%;
        width: 100%;

        @include mq( 'lap-and-up' ) {
          @include justify-content( flex-start );
          @include align-items( center );
          width: 100%;
        }

        /*  NAV : Styles for the Nav-Bar portion
        * ---------------------------------------------- */
        nav {
          @include flexbox;
          @include justify-content( center );
          @include align-items( center );
          width: auto;

          @include mq( 'lap-and-up' ) {
            @include justify-content( flex-start );
            width: 100%;
          }

          ul {
            @include flexbox;
            list-style-type: none;
            margin:0;
            padding:0;
            width: 100%;

            @include mq( 'lap-and-up' ) {
              width: auto;
            }

            li {
              @include fontSize( 14px );
              font-weight: $font-weight--bold;

              &:first-child {
                a {
                  @include mq( 'lap-and-up' ) {
                    margin-left: 0;
                  }
                }
              }

              &.divider {
                background-color: $color--white;
                margin: 0 10px;
                width: 1px;
              }

              a {
                color: $color--white;
                margin: 0 10px;
                text-transform: uppercase;
                transition: color 0.25s ease-in-out;

                &:hover {
                  color:#ccc;
                  font-weight: $font-weight--bold;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Sections */
  section, footer {
    margin: 0 auto;
  }

  section {
    padding-top: 1em;
    width: 90%;

    /* Showcase */
    &.showcase {
      @include flexbox;
      @include justify-content( center );
      @include align-items( center );
      /* min-height:400px; */
      /* background:url('../images/showcase.jpg') no-repeat 0 -400px; */
      text-align: center;

      h1 {
        @include fontSize( 24px );
        margin-bottom: 10px;

        @include mq( 'lap-and-up' ){
          @include fontSize( 32px );
        }
      }

      p {
        @include fontSize(16px);
      }
    }

    &.linkedin {
      display: none;
      /* @include flexbox; */
      @include justify-content( center );
      @include align-items( center );
      padding: 15px;
      color: $color--white;
      background: #35424a;

      .container {
        @include flexbox;
        @include justify-content( center );
        @include align-items( center );
        width: 100%;

        h1 {
          margin-right: 10px;
        }

        form {

          input[type="email"] {
            padding: 4px;
            height: 25px;
            width: 250px;
          }

          .button_1 {
            height: 38px;
            background: $color--deeporange;
            border: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: $color--white;
          }
        }
      }
    }

    /* Boxes */
    &.boxes {
      @include justify-content( space-between );

      .container {
        @include flexbox;
        @include justify-content( center );
        @include align-items( center );
        @include flex-wrap ( wrap );
        @include flex-direction ( column );
        width: 100%;

        @include mq('lap-and-up'){
          @include flex-direction ( row );
          max-width: 1024px;
        }

        .box {
          @include flexbox;
          @include justify-content( center );
          @include align-items( center );
          @include flex-wrap( wrap );
          @include flex-direction( column );
          text-align: center;
          width: 300px;
          padding: 10px;

          h3 {
            margin-top: 5px;
            @include fontSize( 26px );

            @include mq( 'lap-and-up' ){
              @include fontSize( 26px );
            }
          }

          .devicons {
            display: block;
            width: 150px;
            height: 150px;

            &.icon-html5 {
              background: no-repeat center/100% url('../images/logo_html.png');
            }
            &.icon-css3 {
              background: no-repeat center/100% url('../images/logo_css.png');
            }
            &.icon-js {
              background: no-repeat center/100% url('../images/logo_js.png');
            }
            &.icon-general {
              background: no-repeat center/100% url('../images/logo_brush.png');
            }
          }
        }
      }

    }
  }

  /* Footer */
  footer {
    @include flexbox;
    @include justify-content( flex-start );
    @include align-items( center );
    @include flex-wrap( wrap );
    @include flex-direction ( column );

    padding: 20px;
    margin-top: 20px;
    color: $color--white;
    background-color: $color--stormygray;
    text-align: center;
    width: 100%;
    height: 100%;

    ul, div.footer-text {
      width: 100%;
      @include fontSize( 14px );
    }

    ul.footer-icons {
      @include flexbox;
      @include justify-content( center );
      @include align-items ( space-between );
      @include flex-wrap ( wrap );
      @include flex-direction ( row );
      padding-inline-start: 0;
      list-style-type: none;
      margin-left: 0;

      @include mq('lap-and-up'){
        @include align-items ( center );
      }
    }

    div.footer-text {
      @include flexbox;
      @include justify-content( center );
      @include align-items ( center );
      @include flex-direction ( column );
      @include flex-wrap ( wrap );

      &>span {
        border: 1px solid green;
        // hide second span
      }

      /* Skyline icon */
      div {

        &.washington-icon {
          display: block;
          width: 60px;
          height: 25px;
          max-height: 30px;
          margin: 0 10px;
          background: no-repeat center/100% url("../images/seattle_skyline.png");

          &:hover {
            transition: color 0.5s ease-in-out;
            opacity: 50%;
          }
        }
      }

      @include mq('lap-and-up'){
        @include flex-direction( row );
      }
    }

    a {
      color: $color--offwhite;

      &:hover {
        transition: color 0.25s ease-in-out;
        text-decoration: underline;
      }
    }

    ul {

      &.menu {
        color: #f9f9f9;
        margin-bottom: 10px;
        @include fontSize(13px);
      }
    }

    #menu-social {
      @include flexbox;
      @include justify-content( space-between );
      @include align-items( center );
      @include flex-direction( row );
      @include flex-wrap( wrap );
      list-style-type: none;
      padding-inline-start: 0px;
      max-width: 400px;

      @include mq('lap-and-up'){
        max-width: 450px;
      }

      li {
        position: relative;
        padding-top: 20px;
        display: inline-block;

        a {
          display: block;
          height: 39px;
          width: 32px;
          color: #b7b7b7;
          font: 0/0 a;
          text-shadow: none;
          background-color: transparent;
          border: 0;

          @include mq('lap-and-up'){
            height: 52px;
            width: 44px;
          }

          @include mq('desk-and-up'){
            height: 52px;
            width: 46px;
          }
        }

        a:hover, a:focus {
          color: #309fc4;
          text-decoration: none;
        }

        a::before {
          position: absolute;
          font-family: FontAwesome;
          content: "\f005";
          @include fontSize( 32px );

          @include mq('lap-and-up'){
            @include fontSize( 40px );
          }
        }

        &.menu-facebook a::before, &.fa-facebook-square a::before {
          content: "\f082";
        }

        &.menu-twitter a::before, &.fa-twitter-square a::before {
          content: "\f081";
        }

        &.menu-youtube a::before, &.fa-youtube a::before {
          content:"\f167"
        }

        &.menu-instagram a::before, &.fa-instagram a::before {
          content: "\f16d";
        }

        &.menu-codepen a::before, &.fa-codepen a::before {
          content: "\f1cb";
        }

        &.menu-linkedin a::before, &.fa-linkedin a::before {
          content: "\f08c";
        }
      }
    }
  }

  .bootstrap-nav {
    display: none;
  }

  pre {
    padding: 8px 16px;
    background: $bluegrey;
    color: $color--black;
    @include fontSize( 13px );
    line-height: 1.5;
    text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);
    border-radius: 3px;
  }

  & > div.container {
    color: $color--black;
  }
}
